/* :host {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
}*/
:host {
    margin-top: 25px;
    display: block;
}
/* .crop-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
} */

.crop-image {
    height: 300px;
    width: 100%;
}

.img-product {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-product {
    margin-top: 15px;
}